---
# Example Invocation:
# ansible-playbook -i inventory/lenovo.yml playbooks/ansible-playbook-mongodb/mongodb-baremetal.yml

# To Do
# Need to create role for installing and configuring metrics exporters for prometheus

# ===========================================================================
# Create Nebulon nPod
# ===========================================================================
- name: Create Nebulon nPod
  hosts: localhost
  connection: local
  gather_facts: false
  tags: play_create_npod

  vars_files:
    # Ansible vault with all required passwords
    - "../../credentials.yml"

  roles:
    - { role: jedimt.nebulon_create_npod,
        npod_name: "mongoDB_Lenovo",
        npod_template: "MongoDB",
        npod_group: NoSqlDb }

# Wait for hosts to boot up
- name: Wait for hosts to reboot
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Wait for hosts to come up - Minutes to wait {{ wait_hosts }}
      ansible.builtin.pause:
        minutes: "{{ wait_hosts }}"
      when: hostvars['localhost']['reboot_required']

# ===========================================================================
# Copy SSH keys to target hosts for passwordless authentication
# ===========================================================================
- name: Copy pubkeys to target hosts
  hosts: servers
  gather_facts: false
  tags: play_ssh_setup

  vars_files:
    # Ansible vault with all required passwords
    - "../../credentials.yml"

  roles:
    - jedimt.authorized_keys

# ===========================================================================
# Update Ansible controller SSH keys
# ===========================================================================
- name: Update SSH keys for Ansible controller known_hosts
  hosts: localhost
  connection: local
  gather_facts: false
  tags: play_ssh_sync

  roles:
    - jedimt.ssh

# ===========================================================================
# Disable APT automatic updates/upgrades
# ===========================================================================
- name: Disable APT updates and upgrades
  hosts: servers
  gather_facts: false

  vars_files:
    # Ansible vault with all required passwords
    - "../../credentials.yml"

  roles:
    - jedimt.apt

# ===========================================================================
# Network configuration
# ===========================================================================
- name: Configure netplan and DNS settings
  hosts: servers
  tags: play_network_setup

  roles:
    - jedimt.network_setup

# ===========================================================================
# Install and configure MongoDB
# ===========================================================================
- name: Install and configure MongoDB
  hosts: mongo
  tags: play_mongodb_install

  roles:
    - jedimt.mongodb

# ===========================================================================
# MongoDB Prometheus exporter
# ===========================================================================

- name: Install and configure mongodb prometheus exporters
  hosts: mongo
  tags: play_mongo_exporter

  vars_files:
    # Ansible vault with all required passwords
    - "../../credentials.yml"

  roles:
    - { role: jedimt.mongodb_exporter,
        # Download location for the prometheus mongodb_exporter tarball file
        mongodb_exporter_tarball: 'https://github.com/percona/mongodb_exporter/releases/download/v2.37.0/mongodb_exporter-2.37.0.linux-amd64.tar.gz',

        # MongoDB URI. By default, listen on IP address used to connect to the host.
        mongodb_exporter_mongodb_uri: 'mongodb://"{{ ansible_default_ipv4.address }}":27017'
    }

# ===========================================================================
# Prometheus node exporter
# ===========================================================================

- name: Install and configure prometheus node exporter
  hosts: mongo
  tags: play_node_exporter

  vars_files:
    # Ansible vault with all required passwords
    - "../../credentials.yml"

  roles:
    - { role: jedimt.linux_node_exporter,
        # Download location for the prometheus node_exporter tarball file
        linux_node_exporter_tarball: 'https://github.com/prometheus/node_exporter/releases/download/v1.5.0/node_exporter-1.5.0.linux-amd64.tar.gz'
    }
